.error-container {
    all: revert;
    text-align: center;
    padding: 100px;
    display: block;
}

@media only screen and (min-width: 600px) {
    .fourofour {
        font-size: 200px;
        color: rgb(248, 192, 123);
        height: 150px;
    }
    .error-font {
        font-size: 25px;
        font-weight: 600;
        color: rgb(107, 107, 107);
        display: contents;
    }
}

@media only screen and (max-width: 600px) {
    .fourofour {
        font-size: 120px;
        color: rgb(248, 192, 123);
        height: 130px;
    }
    .error-font {
        font-size: 20px;
        font-weight: normal;
        color: rgb(107, 107, 107);
        display: contents;
    }
}

.button-flex-container a {
    margin: 10px;
}