.error-container {
    all: revert;
    text-align: center;
    display: block;
    height: 80%;
}

@media only screen and (min-width: 600px) {
    .error-container {
        padding: 100px;
    }
    .fourofour {
        font-size: 15vw;
        color: rgb(248, 192, 123);
        height: 150px;
    }
    .error-font {
        font-size: 1.75vw;
        font-weight: 500;
        color: rgb(179, 179, 179);
        display: contents;
    }
}

@media only screen and (max-width: 600px) {
    .fourofour {
        font-size: 30vw;
        color: rgb(248, 192, 123);
        height: 130px;
    }

    .error-container {
        padding: 50px;
    }
    .error-font {
        font-size: 5vw;
        font-weight: normal;
        color: rgb(179, 179, 179);
        display: contents;
    }
}

.button-flex-container a {
    margin: 10px;
}