<mat-card class="customer-details-card">
  <mat-card-header>
    <mat-icon mat-card-avatar>person</mat-icon>
    <mat-card-title>{{selectedCustomer.name}}
      <span class="rounded-label active" *ngIf="getCurrentStatus()=='ACTIVE'">Active</span>
      <span class="rounded-label inactive" *ngIf="getCurrentStatus()=='INACTIVE'">Inactive</span>
      <span class="rounded-label closed" *ngIf="getCurrentStatus()=='CLOSED'">Closed</span>
    </mat-card-title>
    <mat-card-subtitle>
      <div>
        A/C No: {{selectedCustomer.accountNumber}}
      </div>
      <div>
        Contact No: {{selectedCustomer.contactNumber}}
      </div>
      <div>
        Address: {{selectedCustomer.moreDetails.address}}
      </div>
      <div>
        Email ID: {{selectedCustomer.moreDetails.emailId}}
      </div>
      <div>
        Last Transaction: {{selectedCustomer.lastTransactionDate | date:'medium'}}
      </div>
      <div *ngIf="selectedCustomer.moreDetails.ticketRaised">
        Ticket Raised
      </div>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-horizontal-stepper [linear]="true" #stepper *ngIf="!(isHandset$ | async)">
      <mat-step [stepControl]="stepperStage.stepFormName" *ngFor="let stepperStage of listOfStages">
        <ng-template matStepLabel>{{stepperStage.stepName}}</ng-template>
        {{stepperStage.stepName}}
      </mat-step>
    </mat-horizontal-stepper>

    <mat-vertical-stepper [linear]="true" #stepper *ngIf="isHandset$ | async">
      <mat-step [stepControl]="stepperStage.stepFormName" *ngFor="let stepperStage of listOfStages">
        <ng-template matStepLabel>{{stepperStage.stepName}}</ng-template>
        {{stepperStage.stepName}}
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">Assign To Me</button>
  </mat-card-actions>

</mat-card>