<mat-card class="customer-details-card">
  <mat-card-header>
    <mat-icon mat-card-avatar>person</mat-icon>
    <mat-card-title>{{selectedCustomer.name}}
      <app-status-label [statusInput]="selectedCustomer.status"></app-status-label>
    </mat-card-title>
    <mat-card-subtitle>
      <div>
        A/C No: {{selectedCustomer.accountNumber}}
      </div>
      <div>
        Contact No: {{selectedCustomer.contactNumber}}
      </div>
      <div>
        Address: {{selectedCustomer.moreDetails.address}}
      </div>
      <div>
        Email ID: {{selectedCustomer.moreDetails.emailId}}
      </div>
      <div>
        Last Transaction: {{selectedCustomer.lastTransactionDate | date:'medium'}}
      </div>
      <div *ngIf="selectedCustomer.moreDetails.ticketNumber">
        Ticket Raised: {{selectedCustomer.moreDetails.ticketNumber}}
        <br>
        Last Action:
        {{ selectedCustomer.moreDetails.ticketRaised.ticketHistory.slice(-1)[0].description.split('.')[0]}}
      </div>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="selectedCustomer.moreDetails.ticketRaised">

      <ul class="statistics-bar" *ngIf="userRole=='REVIEWER'">
        <li class="horizontal-list-item">
          Customer Connects: 6
        </li>
        <li class="horizontal-list-item">
          Retries: 2
        </li>
        <li class="horizontal-list-item">
          Ticket Created On: {{selectedCustomer.moreDetails.ticketRaised.dateCreated | date:'medium'}}
        </li>
        <li class="horizontal-list-item">
          Ticket Assigned To: {{selectedCustomer.moreDetails.ticketRaised.assignedTo}}
        </li>
      </ul>
      <mat-horizontal-stepper [linear]="true" #stepper *ngIf="!(isHandset$ | async)" [selectedIndex]="currentStage">
        <mat-step [completed]="stepperStage.completed" *ngFor="let stepperStage of listOfStages" editable="false">
          <ng-template matStepLabel>{{stepperStage.stepName}}</ng-template>
          <h2>
            {{stepperStage.stepName}}
          </h2>
          <h3 *ngIf="userRole=='BANKOPS'">
            {{stepperStage.stepDescriptionsOps}}
          </h3>
          <h3 *ngIf="userRole=='REVIEWER'">
            {{stepperStage.stepDescriptionReviewer}}
          </h3>
          <ng-container *ngTemplateOutlet="{'init': init, 'custResp': custResp, 
          'approve': approve, 'closed': closed}[stepperStage.stepViewName]"></ng-container>
          <br>
          <mat-divider></mat-divider>
          <ng-container *ngTemplateOutlet="ticketHistory"></ng-container>

        </mat-step>
      </mat-horizontal-stepper>

      <mat-vertical-stepper [linear]="true" #stepper *ngIf="isHandset$ | async" [selectedIndex]="currentStage">
        <mat-step [completed]="stepperStage.completed" *ngFor="let stepperStage of listOfStages" editable="false">
          <ng-template matStepLabel>{{stepperStage.stepName}}</ng-template>
          <h2>
            {{stepperStage.stepName}}
          </h2>
          <h3 *ngIf="userRole=='BANKOPS'">
            {{stepperStage.stepDescriptionsOps}}
          </h3>
          <h3 *ngIf="userRole=='REVIEWER'">
            {{stepperStage.stepDescriptionReviewer}}
          </h3>
          <ng-container *ngTemplateOutlet="{'init': init, 'custResp': custResp, 
     'approve': approve, 'closed': closed}[stepperStage.stepViewName]"></ng-container>
          <br>
          <mat-divider></mat-divider>
          <ng-container *ngTemplateOutlet="ticketHistory"></ng-container>
        </mat-step>
      </mat-vertical-stepper>


      <span>
        <ng-template #init>
          <div *ngIf="userRole=='BANKOPS'">
            <h2>
              Please contact customer to record response:
            </h2>
            <mat-list>
              <mat-list-item>
                <button mat-raised-button color="accent" style="background-color: rgb(11, 139, 11);"
                  (click)="tryingToContactPhone()">
                  <mat-icon aria-hidden="false">phone</mat-icon>
                  Call: {{selectedCustomer.contactNumber}}
                </button>
              </mat-list-item>
              <mat-list-item> <button mat-raised-button color="accent" (click)="tryingToContactMessage()">
                  <mat-icon aria-hidden="false">message</mat-icon>
                  Send Message: {{selectedCustomer.contactNumber}}
                </button> </mat-list-item>
              <mat-list-item> <button mat-raised-button color="accent" style="background-color: rgb(182, 0, 0);"
                  (click)="tryingToMail()">
                  <mat-icon aria-hidden="false">mail_outline</mat-icon>
                  Mail: {{selectedCustomer.moreDetails.emailId}}
                </button> </mat-list-item>
              <br>
              <mat-divider></mat-divider>
              <br>
              <span *ngIf="selectedCustomer.moreDetails.ticketRaised.ticketStatus=='CUSTOMER_CONNECT'">
                <mat-list-item>
                  <h2>
                    Able to Connect? Goto Next Step &nbsp;
                  </h2>

                  <button mat-fab color="primary" (click)="connectedToCustomer()">
                    <mat-icon aria-hidden="false">arrow_right_alt</mat-icon>
                  </button>
                </mat-list-item>
                <br>
                <mat-list-item>
                  <h2>
                    Repeatedly Failing to Connect? Inform Approver &nbsp;
                  </h2>

                  <button mat-fab color="warn" (click)="onConnectFailed()">
                    <mat-icon aria-hidden="false">cancel_schedule_send</mat-icon>
                  </button>
                </mat-list-item>
              </span>
            </mat-list>


          </div>
        </ng-template>
        <ng-template #custResp>
          <div *ngIf="userRole=='BANKOPS'">
            <div>
              <h3>Record feedback:</h3>
              <mat-form-field>
                <mat-label>Response</mat-label>
                <mat-select [(ngModel)]="responsetypeSelected">
                  <mat-option value="agreeClose">
                    Customer Agreed to Close Account
                  </mat-option>
                  <mat-option value="agreeActivate">
                    Customer Agreed to Activate
                  </mat-option>
                  <mat-option value="requestDelay">
                    Customer Requested Delay
                  </mat-option>
                  <mat-option value="declinedToComment">
                    Customer Declined To Comment!
                  </mat-option>
                  <mat-option value="comment">
                    Other
                  </mat-option>
                </mat-select>

              </mat-form-field>
              &nbsp;
              <mat-slide-toggle [(ngModel)]="customerKnewDormant">Customer knew of dormant status</mat-slide-toggle>
              &nbsp;
              <mat-slide-toggle [(ngModel)]="customerAgreedTransaction">Customer agreed to do a transaction
              </mat-slide-toggle>
              <br>
              <mat-form-field appearance="fill" *ngIf="responsetypeSelected=='comment'">
                <mat-label>Other Comments</mat-label>
                <textarea matInput [(ngModel)]="otherComment"></textarea>
              </mat-form-field>
            </div>
            <div class="button-row">
              <button mat-raised-button color="accent" disabled>Save</button>
              <button mat-raised-button color="accent" (click)="onResponseSubmit()"
                [disabled]="responsetypeSelected==undefined">Submit</button>
            </div>

          </div>
        </ng-template>
        <ng-template #approve>
          <div *ngIf="userRole=='BANKOPS'">
            <button mat-raised-button color="warn" (click)="onSubmissionCancel()">Cancel Submission</button>
          </div>
          <div *ngIf="userRole=='REVIEWER'">
            <div>
              <h2>Customer Response:</h2>
              <h3 style="white-space: pre-line;">

                {{selectedCustomer.moreDetails.ticketRaised.ticketHistory.slice(-1)[0].description}}

              </h3>
              <hr>
              <br>
            </div>
            <div>

              <mat-form-field appearance="fill">
                <mat-label>Feedback from Reviewer</mat-label>
                <textarea matInput [(ngModel)]="pendingActionComment"></textarea>
              </mat-form-field>
              <br>
              <br>
              <button mat-raised-button color="primary" style="background-color: green;" (click)="approveActivation()">
                Approve for Activation</button>
              &nbsp;
              <button mat-raised-button color="accent" (click)="approveClosure()">Approve for Closure</button>
              <br><br>
              <button mat-raised-button color="warn" (click)="rejectPendingRequest()">Reject</button>


            </div>

          </div>
        </ng-template>
        <ng-template #closed>
          <div *ngIf="userRole=='BANKOPS'">
            <button mat-flat-button color="accent" matBadge="&#10004;" matBadgeColor="primary">
              Closed
            </button>
            <br>
            <br>
            <button mat-stroked-button>Status: Marked for Activation</button>
          </div>
        </ng-template>
      </span>

      <ng-template #ticketHistory>
        <br>
        <div class="ticket-history-div">
          <h2>Ticket History</h2>
          <mat-expansion-panel *ngIf="selectedCustomer.moreDetails.ticketRaised">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ticket Timeline
              </mat-panel-title>
              <mat-panel-description>
                Click to view Timeline
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-ticket-history [olderTickets]="selectedCustomer.moreDetails.ticketRaised.ticketHistory">
            </app-ticket-history>

          </mat-expansion-panel>
          <div *ngIf="!selectedCustomer.moreDetails.ticketRaised">
            No Ticket History
          </div>
        </div>

      </ng-template>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="userRole=='BANKOPS'">
      <button mat-raised-button color="accent" *ngIf="!selectedCustomer.moreDetails.ticketRaised"
        (click)="initiateTicket()">Assign To Me</button>
    </div>
    <div *ngIf="userRole=='REVIEWER'">
      <button mat-raised-button color="accent" *ngIf="!selectedCustomer.moreDetails.ticketRaised">Assign To
        Representative</button>
      <button mat-raised-button color="accent" *ngIf="selectedCustomer.moreDetails.ticketRaised">Reassign</button>
    </div>
  </mat-card-actions>

</mat-card>