.customer-details-card {
    min-height: 200px;
    border: 2px solid rgba(138, 138, 138, 0.336);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-icon.mat-card-avatar {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.rounded-label {
    all: unset;
    border: 0px;
    border-radius: 15px;
    font-size: 0.7em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.rounded-label.active {
    background-color: rgb(14, 167, 0);
}

.rounded-label.closed {
    background-color: rgb(202, 0, 0);
}

.rounded-label.inactive {
    background-color: rgb(196, 105, 21);
}

.button-row {
    display: table-cell;
}

.button-row button {
    display: table-cell;
    margin-right: 8px;
}

.ticket-history-div {
    max-width: 600px;
}

.horizontal-list-item {
    display: inline-block;
    padding: 10px;
    content: "\2022";
    color: rgb(97, 39, 0);
}

.horizontal-list-item::before {
    content: "\2022";
    color: rgb(255, 115, 0);
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    width: 1em;
    margin-left: -0.5em;
}

.statistics-bar {
    border: 1px solid orange;
    border-radius: 5px;
}