<link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container">
    <ul class="tl">
        <li class="tl-item" *ngFor="let ticket of olderTickets">
            <div class="timestamp">
                {{ticket.dateCreatedHist | date:'mediumDate'}}
                <br>
                {{ticket.dateCreatedHist | date:'shortTime'}}
            </div>
            <div class="item-title">{{ticket.status}}</div>
            <div class="item-creator">By: {{ticket.createdBy}}</div>
            <hr>
            <div class="item-detail">Description: <br>{{ticket.description}}</div>
        </li>
    </ul>

</div>