.history-tl-container {
    font-family: "Roboto", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;
}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    min-height: 50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left: 1px dashed #86D6FF;
    padding: 0 0 50px 30px;
    position: relative;
    margin-left: 20px;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}

.history-tl-container ul.tl li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
    border-color: #258CC7;
    transition: all 300ms ease-in-out;
}

ul.tl li .item-title {
    color: rgb(255, 102, 0);
    font-size: 15px;
}

ul.tl li .item-creator {
    color: rgb(0, 113, 218);
    font-size: 14px;
}

ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.623);
    font-size: 15px;
}

ul.tl li .timestamp {
    color: #8D8D8D;
    position: absolute;
    left: -100px;
    top: -3%;
    text-align: right;
    font-size: 12px;
}