.landing-container {
    all: revert;
    text-align: center;
    display: block;
    line-height: normal;
    padding: 10px;
    background: linear-gradient(to right, rgb(132, 172, 248), rgb(30, 201, 178), rgb(125, 252, 138));
}

@media only screen and (max-width: 600px) {
    .landing-title {
        font-size: 14vw;
    }
    .landing-text {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 600px) {
    .landing-title {
        font-size: 6vw;
    }
    .landing-text {
        font-size: 1.75vw;
    }
}

.landing-title {
    color: rgb(255, 247, 238);
    font-weight: 400;
    padding-top: 50px;
}

.landing-text {
    color: rgb(5, 65, 0);
    text-align: center;
}