.landing-container {
    all: revert;
    text-align: center;
    line-height: normal;
    padding: 10px;
    background: linear-gradient(to right, #4ca2cd, #67B26F);
    min-height: 100%;
}

@media only screen and (max-width: 600px) {
    .landing-title {
        font-size: 14vw;
        padding-top: 20px;
    }
    .landing-text {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 600px) {
    .landing-title {
        font-size: 6vw;
        padding-top: 50px;
    }
    .landing-text {
        font-size: 1.75vw;
    }
}

.landing-title {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: 'Baloo Bhai 2', cursive;
}

.landing-text {
    color: rgb(179, 250, 173);
    text-align: center;
    padding: 15px;
}