<div id="login-div" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <table cellspacing="0" class="login-card">
          <tr>
            <td>
              <mat-form-field class="login-input">
                <input matInput placeholder="Username" [formControl]="username" required>
                <mat-error *ngIf="username.invalid">Username invalid</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <br>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="login-input">
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password"
                  [formControl]="password" required>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">Password Invalid</mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-slide-toggle [formControl]="toBeRemebered">Remember me</mat-slide-toggle>
            </td>
          </tr>
        </table>
      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!isLoginValid()" (click)="login()" color="accent">Login</button>
    </mat-card-actions>
  </mat-card>
</div>