.customer-table-div {
  min-height: 100px;
  padding: 20px;
}

table {
  width: 100%;
}

tr.customer-detail-row {
  height: 0;
}

tr.customer-element-row:not(.customer-expanded-row):hover {
  background: rgb(255, 220, 199);
  cursor: pointer;
}

tr.customer-element-row:not(.customer-expanded-row):active {
  background: rgb(250, 182, 139);
}

.customer-element-row td {
  border-bottom-width: 0;
}

.customer-element-detail {
  overflow: hidden;
}
