.customer-table-div {
  min-height: 100px;
  min-width: 500px;
  padding: 20px;
}

table {
  width: 100%;
}

tr.customer-detail-row {
  height: 0;
}

tr.customer-element-row:not(.customer-expanded-row):hover {
  background: rgb(80, 77, 77);
  cursor: pointer;
}

tr.customer-element-row:not(.customer-expanded-row):active {
  background: #302e2e;
}

.customer-element-row td {
  border-bottom-width: 0;
}

.customer-element-detail {
  overflow: hidden;
  display: flex;
}