<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of navbarUiModel.listOfLinks" [routerLink]='link.linkUri'
        routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact: true}">{{link.linkName}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index:100;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>


      <a mat-stroked-button routerLink="/home">
        <mat-icon aria-hidden="false">donut_small</mat-icon>
        &nbsp; Dormant A/C Manager
      </a>
      &nbsp;
      <span *ngIf="navbarUiModel.isLoggedIn">
        <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" (menuClosed)="readNotifictions()">
          <mat-icon [matBadge]="navbarUiModel.notificationModel.notificationCount" matBadgeColor="warn"
            aria-hidden="false">notifications</mat-icon>
        </button>
        <mat-menu #notificationsMenu="matMenu">
          <div *ngFor="let notify of navbarUiModel.notificationModel.notificationList" mat-menu-item>{{notify}}</div>
          <div *ngIf="navbarUiModel.notificationModel.notificationCount==0" mat-menu-item>
            No Notifications
          </div>
        </mat-menu>
      </span>
      <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <div mat-menu-item>Setting here</div>
      </mat-menu>


      <span class="filler"></span>
      <span [ngClass]="{hidden: (isHandset$ | async)}">
        <a class="navbar-buttons" mat-raised-button *ngFor="let link of navbarUiModel.listOfLinks"
          [routerLink]='link.linkUri' routerLinkActive='mat-accent'
          [routerLinkActiveOptions]="{exact: true}">{{link.linkName}}</a>
      </span>


    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>