<div class="logs-div">
    <div class="mat-elevation-z8 logs-card-div">
        <div>
            <h1>
                <mat-icon mat-card-avatar>format_align_left</mat-icon>
                &nbsp;
                Logs View
            </h1>
        </div>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>


            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- log Column -->
            <ng-container matColumnDef="log">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Log String </th>
                <td mat-cell *matCellDef="let row"> {{row.log}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>