.reviewer-rep-card {
    max-width: 100%;
    margin: 0px;
    text-align: left;
    background-color: rgba(253, 253, 253, 0.342);
    min-height: 100%;
    border-radius: 10px;
}

@media only screen and (min-width: 600px) {
    .support-rep-card {
        padding: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .support-rep-card {
        padding: 10px;
    }
}

mat-icon.mat-card-avatar {
    width: 36px;
    height: 36px;
    font-size: 36px;
}

.customer-list-card {
    min-width: 620px;
    background: inherit;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.596);
    border-radius: 10px;
}