.register-container {
    all: revert;
    text-align: center;
    display: block;
    padding: 80px;
    line-height: normal;
    font-size: x-large;
    height: 70%;
    background: linear-gradient(to right, #ddd6f3, #faaca8);
}