<mat-card *ngIf="fileImportObject.fileName" class="uploadCard">
    <mat-card-header>
        <mat-icon mat-card-avatar>insert_drive_file</mat-icon>
        <mat-card-title>
            {{fileImportObject.fileName}}
        </mat-card-title>
        <mat-card-subtitle>{{fileImportObject.formatBytes(fileImportObject.fileSize, 2)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <div *ngIf="fileImportObject.getFileStatus()!='SELECTED' && fileImportObject.getFileStatus()!='SAVED_TO_DB'">
            <div>
                <h3>{{fileImportObject.message}}</h3>
                <mat-progress-bar [mode]="fileImportObject.progressBarType" [value]="fileImportObject.uploadPercentage"
                    color="accent"></mat-progress-bar>
                <br>
                <button mat-stroked-button disabled>
                    Status: {{fileImportObject.getFileStatus()}}
                </button>
            </div>
        </div>
        <mat-slide-toggle [(ngModel)]="viewDetails">View Details</mat-slide-toggle>
        <mat-list *ngIf="viewDetails">
            <mat-list-item *ngFor="let msg of fileImportObject.successMessageList"
                style="color: rgb(4, 109, 0); font-size: smaller;">
                {{msg}}
            </mat-list-item>
            <mat-list-item *ngIf="fileImportObject.getIfFailed()">
                <div class="limit-warn">
                    Failed: {{fileImportObject.message}}
                </div>
            </mat-list-item>
        </mat-list>

        <div *ngIf="fileImportObject.getFileStatus()=='SAVED_TO_DB'">
            <mat-list>
                <mat-list-item style="color: rgb(255, 123, 0);">

                    Successfully saved in DB.

                </mat-list-item>
                <mat-list-item>
                    <button mat-raised-button color="warn" (click)="resetFileImport()">
                        Upload New
                    </button>
                </mat-list-item>

            </mat-list>

        </div>
    </mat-card-content>
    <mat-card-actions>
        <mat-list *ngIf="fileImportObject.getFileStatus()=='SELECTED'">

            <mat-list-item>
                <button mat-raised-button color="accent" (click)="fileImportObject.validateAndUploadExcel()">Validate &
                    Upload</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-raised-button color="warn" (click)="resetFileImport()">Cancel</button>
            </mat-list-item>
        </mat-list>
        <div *ngIf="fileImportObject.getIfFailed()">
            <button mat-raised-button color="warn" (click)="resetFileImport()">
                Upload New
            </button>
        </div>

    </mat-card-actions>
</mat-card>
<mat-card-actions>
    <div *ngIf="!fileImportObject.fileName">
        <button type="button" mat-raised-button (click)="fileInput.click()" color="accent">Choose File</button>
        <input hidden (change)="true" #fileInput type="file" onclick="this.value=null" (change)="onFileSelected($event)"
            accept=".xls, .xlsx, .csv">
        <div class="limit-warn">*Files under 5MB are supported</div>
        <div class="limit-warn">*Supported Formats: .xls, .xlsx, .csv</div>
    </div>
</mat-card-actions>