.profile-card {
  max-width: 100%;
  padding: 30px;
  margin: 50px;
  text-align: center;
  background: inherit;
  min-height: 500px;
}

@media only screen and (min-width: 600px) {
  .profile-card {
    padding: 30px;
    margin: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .profile-card {
    padding: 20px;
    margin: 0px;
  }
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}