.profile-card {
  min-height: 400px;
  margin: 20px;
  text-align: left;
  background: inherit;
  width: 350px !important;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.profile-widgets-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-details-div-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-widgets-div>div {
  background-color: #ffffff62;
  color: rgb(151, 83, 0);
  margin: 10px;
  padding: 20px;
  font-size: 1.1em;
  width: 250px;
  border-radius: 10px;
}

.widget-count {
  color: rgb(255, 140, 0);
  margin: 10px;
  padding: 20px;
  font-size: 2.5em;
}

.details-span {
  color: rgb(66, 66, 66);
  font-size: 18px;
}

.details-div {
  text-align: left;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  height: 200px;
  color: rgb(41, 41, 41);
}

mat-icon.mat-card-avatar {
  width: 36px;
  height: 36px;
  font-size: 36px;
}

.rounded-label {
  all: unset;
  border: 0px;
  border-radius: 15px;
  font-size: 25px;
  color: white;
  padding: 5px 12px 5px 12px;
  background-color: rgba(0, 0, 0, 0.534);
  line-height: 200%;
}

.rounded-label.retain {
  background-color: rgba(0, 49, 7, 0.863);
}

.rounded-label.close {
  background-color: rgba(95, 14, 0, 0.795);
}