.profile-card {
    max-width: 100%;
    padding: 30px;
    margin: 50px;
    text-align: center;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  