<mat-card class="main-dashboard-card"
    [ngClass]="(profileType.role=='BANKOPS')?'main-dashboard-card-ops':'main-dashboard-card-reviewer'">
    <mat-card-header>
        <mat-icon mat-card-avatar>dashboard</mat-icon>
        <mat-card-title>
            Bank Operations Dashboard
        </mat-card-title>
        <mat-card-subtitle>Manage All Bank Operations</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf="profileType">

        <app-admin *ngIf="profileType.role=='REVIEWER'"></app-admin>

        <app-support-representative *ngIf="profileType.role=='BANKOPS'"></app-support-representative>
    </mat-card-content>
</mat-card>