<mat-card class="support-rep-card">
  <mat-card-header>
    <mat-icon mat-card-avatar>web</mat-icon>
    <mat-card-title>
      Dormant Account Management Dashboard
    </mat-card-title>
    <mat-card-subtitle>Actions on Dormant Accounts for Representatives</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Customer Details">
        <br>
        <mat-card class="customer-list-card frosted-glass">
          <mat-card-header>
            <mat-icon mat-card-avatar>perm_contact_calendar</mat-icon>
            <mat-card-title>
              Dormant Customer List
            </mat-card-title>
            <mat-card-subtitle>Click on any row to reveal details</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <app-customer-table></app-customer-table>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Data File Import">
        <br>
        <mat-card class="upload-download-main-card frosted-glass">
          <mat-card-header>
            <mat-icon mat-card-avatar>cloud_upload</mat-icon>
            <mat-card-title>
              Import to Add Dormant Account Details
            </mat-card-title>
            <mat-card-subtitle>Excel Sheets supported</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <br>
          <mat-card-content>
            <app-file-import></app-file-import>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Export Customer Data">
        <br>
        <mat-card class="upload-download-main-card frosted-glass">
          <mat-card-header>
            <mat-icon mat-card-avatar>cloud_download</mat-icon>
            <mat-card-title>
              Export Customer Data
            </mat-card-title>
            <mat-card-subtitle>Export in PDF and Excel</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <br>
          <mat-card-content>
            <app-file-export></app-file-export>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>