<mat-card class="support-rep-card">
  <mat-card-header>
    <mat-icon mat-card-avatar>web</mat-icon>
    <mat-card-title>
      Dashboard
    </mat-card-title>
    <mat-card-subtitle>Take Actions on Dormant Accounts</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Customer Details">
        <br>
        <mat-card class="customer-list-card frosted-glass">
          <mat-card-header>
            <mat-icon mat-card-avatar>perm_contact_calendar</mat-icon>
            <mat-card-title>
              Dormant Customer List
            </mat-card-title>
            <mat-card-subtitle>Click on any row to reveal details</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <app-customer-table></app-customer-table>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Data File Import">
        <br>
        <app-file-import></app-file-import>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>